@import 'styles/_base.scss';

.theme-button{
  background-color: $theme_dark_color;
  color: $white_text_color;
  border-radius: $button_radius;
  border: 1px solid $light_border_color;
  height: $form_element_height;
  display: inline-block;

  text-align: center;
  line-height: $form_element_height;
  box-shadow: $button_shadow;
  transition: $default_transition;
  font-weight: $bold_text_weight;
  padding: 0px 40px;
  outline: none;
  cursor: pointer;

  &:visited,
  &:link,
  &:hover,
  &:active{
    color: $white_text_color;
  }

  &:hover{
    box-shadow: $button_elevated_shadow;
  }

  &.theme-large-button{
    min-width: $large_button_min_width;
  }
}
