@import 'styles/_base.scss';

.ikagai-heading-element{
  text-align: center;
  position: relative;
  display: inline-block;
  font-size: $page_heading_font_size;
  padding-bottom: 10px;
  color: $theme_dark_color;

  font-weight: $bold_text_weight;
  text-transform: uppercase;

  $underline_width_extra: 20px;
  $underline_stroke: 1px;

  &.underline:after{
    content: ' ';
    display: block;
    position: absolute;
    left: -$underline_width_extra/2;
    bottom: 10px;
    height: $underline_stroke;
    background-color: $theme_dark_color;
    width: calc(100% + #{$underline_width_extra});
  }
}
