@import "colors";
@import "variables";
@import "material";
@import "typography";

ul.undo-list{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

.resize-container:after {
  content:"";
  display:table;
  clear:both;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform:    $value;
  -ms-transform:     $value;
  -o-transform:      $value;
  transform:         $value;
}
