$theme_font: 'Open Sans', sans-serif;
$logo_font : 'Aldrich', sans-serif;

$medium_font_size: medium;

$extra_large_text: 28px;
$page_heading_font_size: 24px;
$sub_heading_font_size: 16px;

$bold_text_weight: 700;
