$top_bar_height: 60px;
$view_container_padding: 20px;

$form_element_height: 45px;
$large_button_min_width: 200px;
$button_radius: 25px;
$input_radius: 3px;

$ikigai_types_height: 45px;
$ikigai_types_min_width: 375px;
$ikigai_types_icon_width: 50px;
$ikigai_types_close_width: 50px;
