@import 'styles/_base.scss';

.theme-input{
  background-color: $input_bg_color;
  color: $black_text_color;

  border-radius: $input_radius;
  border: 1px solid $light_border_color;
  height: $form_element_height;
  display: inline-block;

  text-align: center;
  line-height: $form_element_height;
  box-shadow: $input_shadow;
  transition: $default_transition;
  font-weight: $bold_text_weight;
  outline: none;

  :focus{
    background-color: white;
  }
}

