@import 'styles/_base.scss';

.ikigai-type-item{
  width: $ikigai_types_min_width;
  margin: auto;
  line-height: $ikigai_types_height;
  height: $ikigai_types_height;
  border: 1px solid $light_border_color;
  text-align: left;
  border-radius: 2px;
  overflow: hidden;
  background-color: white;

  .ikigai-type-icon,
  .ikigai-type-remove-item{
    width: $ikigai_types_icon_width;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    height: 100%;
  }

  label{
    display: inline-block;
    width: calc(100% - 2 * #{$ikigai_types_icon_width});
    text-transform: uppercase;
    font-weight: $bold_text_weight;
    cursor: inherit;
  }

  .ikigai-type-remove-item{
    position: relative;
    cursor: pointer;
    background-color: $light_grey;
  }
}
