@import 'styles/_base.scss';

$image_height: 300px;
$text_width: 500px;

#ikagai-add-items{
  .section-heading{
    color: $theme_dark_color;
    font-weight:$bold_text_weight;
    margin: 20px 0 40px;
    display: inline-block;
  }

  .link-button{
    width: $centered_content_width;
  }
}
