@import 'styles/_base.scss';

#ikagai-map-items{
  .map-items-heading{

  }
  .drag-and-drop-to-map-container{
    @extend .resize-container;

    .drag-to-map-container,
    .drop-to-map-container{
      width: 50%;
      float: left;
      > ul {
        @extend .undo-list;
        > li {
          padding: 10px;
        }
      }
    }

    .drag-to-map-container{
      > ul {
        > li {
          [draggable]{
            cursor: grab;
            display: inline-block;
          }
        }
        > li.dragging-item {
          cursor: grabbing;
        }
      }
    }
    .drop-to-map-container{
      > ul {
        > li.being-dragged-over {
          outline: 1px solid red;
        }
      }
    }
  }
  .drag-and-drop-mappings{
    > ul {
      @extend .undo-list;
    }
  }
}
